@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@plugin "daisyui";

* {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

nav a.active {
  font-weight: 700;
  font-size: 1rem;
  background-image: linear-gradient(to right, #632ee3, #9f62f2);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #632ee3, #9f62f2) 1;
}

nav a.active .nav-icon {
  color: #632ee3;
  font-weight: 700;
}
